<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card rounded profile">
        <div class=" d-block justify-content-center">
            <div class="area1 p-5 py-5"></div>
            <div class="area2 p- text-center px-3">
                <div class="image mr-3"> 
                    <img src="{{ user.profile.image.url }}" class="rounded-circle" width="100" />
                    
                    <h4 class="name mt-3 text-dark ">{{ request.user.first_name }} {{ request.user.last_name }}</h4><br>
                    <div class="container text-center">
                        <p class="information mt-3 text-justify text-dark">{{ request.user.profile.bio }}</p>
                    </div>
                    
                </div>
                <h6 class="card-title font-weight-bold text-dark">
                    {{ request.user.profile.followers.count }} Seguidores 
                    {{ request.user.profile.following.count }} Seguidos
                </h6>
               
                
                <a href="{% url 'inicio' %}" class="btn btn-primary text-white">Mi perfil</a>
                
                <a href="{% url 'editar' %}" id="addATweetLeft" onclick="addTweet()" type="button" class="btn btn-lg btn-block btn-primary mt-4 text-white">Editar mi perfil</a><br><br>
                

            </div>
        </div>
    </div>
</div>